$Grey3: #828282;
$Grey4: #BDBDBD;
$Grey5: #E0E0E0;
$Primary: #47A5C7;
$PrimaryDark: #2B6D90;

.content {
    position:absolute;
    top: 100px;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.practice-box {
    width: 70%;
    flex: 1;
    border: 2px solid $Grey4;
    border-radius: 24px;
    margin-top: 30px;
}

.practice-info {
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid $Grey5;
}

#noBorder {
    border: 0px;
}

.progress-box {
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: stretch;
    display: flex;
    padding: 5px;
    padding-left: 5%;
    padding-right: 5%;
    color: $Grey3;
    border-left: 2px solid $Grey5;
    .left-content {
        flex: 2;
        text-align: left;
        .title {
            font-size: 16px;
            font-weight: 700;
        }
        .progress-border {
            border: 2px solid $Grey5;
            border-radius: 2px;
            margin-right: 10px;
        }
    }
    .figure {
        flex:1;
        font-size: 20px;
        font-weight: 300;
        padding: 10px;
    }
}

.sentence-task {
    height: 420px;
    font-size: 30px;
    margin: 10px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}

.sentence {
    height: 38px;
    margin-bottom: 5px;
    padding: 4px;
    padding-left: 20px;
    color: $Primary;
}

.finished-result {
    @extend .sentence;
    border-radius: 30px;
    color: black;
}

.finished-input {
    @extend .sentence;
    background-color: $Grey3;
    color: #fff;
    border-radius: 30px;
    margin-bottom: 12px;
}

.current-result {
    @extend .sentence;
    background-color: $Primary;
    color: #fff;
    border-radius: 30px;
}

.current-input {
    @extend .sentence;
    background-color: $PrimaryDark;
    color: #fff;
    border-radius: 30px;
    margin-bottom: 12px;
}

.default {
    color: #fff;
}
.different {
    color: #f00;
}
.done {
    color: #000;
}