.notes {
  width: 85%;
  height: 900px;
  resize: none;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid #e0e0e0;
  line-height: 40px;
  background-attachment: local;
   background-image:
    linear-gradient(to right, white 10px, transparent 10px),
    linear-gradient(to left, white 10px, transparent 10px),
    repeating-linear-gradient(white, white 38px, #000000 40px);
  padding: 8px 10px;
}

#script-add-form {
  display: inline-block;
  width: 70%;
  border-right: 2px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}

#script-title-form {
  width: 85%;
  height: 75px;
  font-size: 25px;
  border: none;
  outline: none;
  border-bottom: 1px solid #e0e0e0;
}

#script-offbutton-form {
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  color: #FFF;
  background: #828282;
  outline: none;
  text-decoration: none;
}

#script-onbutton-form{
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  color: #FFF;
  background: #EDC5C5;
  outline: none;
  text-decoration: none;
}

.ListForm {
  display: inline-block;
  width: 70%;
}

.ListBody {
  width: 100%;
  // height: 80%;
  display: flex;
  border: 3px solid #bdbdbd;
  border-radius: 0px 30px 30px 30px;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 48px;
}

.NavyTab {
  width: 30%;
  height: 10vh;
  border: 3px solid #BDBDBD;
  border-bottom: 0px;
  border-radius: 30px 30px 0px 0px;
  float: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.NavyButton {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border: none;
  border-radius: 30px 30px 0px 0px;
  font-size: 25px;
  font-weight: bold;
  color: #828282;
}

.NavyButton:hover {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border: none;
  border-radius: 30px 30px 0px 0px;
  font-size: 25px;
  font-weight: bold;
  color: #7BC5C5;
}

.Line{
  width: 1%;
  height: 100%;
  background-color: #bdbdbd;
  transform: rotate();
}

.SearchTab {
  background-image: url(MagnifyingGlass.png);
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 20px;
  outline: none;
  width: 30%;
  height: 6vh;
  border: 1px solid #bdbdbd;
  border-radius: 20px;
  float: right;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-left: 50px;
}

.TabSetting{
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.ScriptList {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  .ScriptListItem {
    height: 2.2rem;
    font-size: 1.5rem;
    list-style: none;
    padding-left: 0px;
    color: #47A5C7;
    text-decoration: none;
    font-weight: 500;
  }  
}