.content {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content2 {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 70%;
}

.practice-box {
  width: 70%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 2px solid #BDBDBD;
  border-radius: 24px;
  margin-top: 30px;
}

.practice-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #E0E0E0;
}

#noBorder {
  border: 0px;
}

.progress-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  padding-left: 3%;
  padding-right: 3%;
  color: #828282;
  border-left: 2px solid #E0E0E0;
}

.progress-box .left-content {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  text-align: left;
}

.progress-box .left-content .title {
  font-size: 16px;
  font-weight: 700;
}

.progress-box .left-content .name {
  font-size: 14px;
  font-weight: 700;
  color: white;
  margin-left: 10px;
}

.progress-box .left-content .progress-border {
  border: 2px solid #E0E0E0;
  border-radius: 2px;
  margin-right: 10px;
}

.progress-box .left-content .text-box {
  margin-right: 10px;
  margin-top: 4px;
  background-color: #7BC5C5;
  border-radius: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.progress-box .figure {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
}

.sentence-task {
  height: 420px;
  font-size: 30px;
  margin: 10px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
}

.sentence, .finished-result, .finished-input, .current-result, .current-input {
  height: 38px;
  margin-bottom: 5px;
  padding: 4px;
  padding-left: 20px;
  color: #47A5C7;
}

.finished-result {
  border-radius: 30px;
  color: black;
}

.finished-input {
  background-color: #828282;
  color: #fff;
  border-radius: 30px;
  margin-bottom: 12px;
}

.current-result {
  background-color: #47A5C7;
  color: #fff;
  border-radius: 30px;
}

.current-input {
  background-color: #2B6D90;
  color: #fff;
  border-radius: 30px;
  margin-bottom: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default {
  color: #fff;
}

.different {
  color: #f00;
}

.done {
  color: #000;
}

#cursor {
  width: 4px;
  height: 24px;
}

.notes {
  width: 85%;
  height: 900px;
  resize: none;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 2px solid #e0e0e0;
  line-height: 40px;
  background-attachment: local;
  background-image: linear-gradient(to right, white 10px, transparent 10px), linear-gradient(to left, white 10px, transparent 10px), repeating-linear-gradient(white, white 38px, #000000 40px);
  padding: 8px 10px;
}

#script-add-form {
  display: inline-block;
  width: 70%;
  border-right: 2px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}

#script-title-form {
  width: 85%;
  height: 75px;
  font-size: 25px;
  border: none;
  outline: none;
  border-bottom: 1px solid #e0e0e0;
}

#script-offbutton-form {
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  color: #FFF;
  background: #828282;
  outline: none;
  text-decoration: none;
}

#script-onbutton-form {
  position: relative;
  padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  color: #FFF;
  background: #EDC5C5;
  outline: none;
  text-decoration: none;
}

.ListForm {
  display: inline-block;
  width: 70%;
}

.ListBody {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #bdbdbd;
  border-radius: 0px 30px 30px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.NavyTab {
  width: 30%;
  height: 10vh;
  border: 3px solid #BDBDBD;
  border-bottom: 0px;
  border-radius: 30px 30px 0px 0px;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.NavyButton {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border: none;
  border-radius: 30px 30px 0px 0px;
  font-size: 25px;
  font-weight: bold;
  color: #828282;
}

.NavyButton:hover {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border: none;
  border-radius: 30px 30px 0px 0px;
  font-size: 25px;
  font-weight: bold;
  color: #7BC5C5;
}

.Line {
  width: 1%;
  height: 100%;
  background-color: #bdbdbd;
  -webkit-transform: rotate();
          transform: rotate();
}

.SearchTab {
  background-image: url(MagnifyingGlass.png);
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 20px;
  outline: none;
  width: 30%;
  height: 6vh;
  border: 1px solid #bdbdbd;
  border-radius: 20px;
  float: right;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-left: 50px;
}

.TabSetting {
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ScriptList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ScriptList .ScriptListItem {
  height: 2.2rem;
  font-size: 1.5rem;
  list-style: none;
  padding-left: 0px;
  color: #47A5C7;
}
/*# sourceMappingURL=main.css.map */