$primaryLight: "#7BC5C5";
$primaryDark: "#2B6D90";
$primaryBasic: "#47A5C7";
$bronze: "#A9852A";
$pink: "#EDC5C5";
$mint: "#BAE8E8";
$white: "#FFFFFF";
$border: "#eeeeee";
$gray: "#828282";

.HeaderStyle {
  width: 100%;
  background: white;
  height: 80px;
  font-size: 16px;
  font-family: Noto Serif KR;
  border-bottom: 2px solid #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: gray;
}

.HeaderTitle {
  flex: 20;
};

.Progress {
  flex: 40;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.LanguageSelect {
  flex: 40;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: gray;
  color: white;
  font-size: 30px;
}

.CircleFocussed {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: pink;
  color: white;
  font-size: 30px;
}

.BodyContainer {
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
}

.Body {
  width: 75%;
  height: 60vh;
  display: flex;
  border: 3px solid gray;
  border-radius: 30px;
  flex-direction: column;
  justify-content: flex-start;
}

.WordsList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 20px 0 20px;
  background: #7BC5C5;
  border: 3px solid #7BC5C5;
  border-radius: 50px;
  flex: 20;
}

.WordCellFocused {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 90%;
  border: 3px solid white;
  border-radius: 10px;
}

.WordCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

.Word {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 1.5em;
  color: white;
}

.ContentStatusBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex: 10;
}

.KeyboardZone {
  display: flex;
  align-items: center;
  flex: 80;
}

.KeyboardStyle {
  margin: auto;
  display: block;
  width: 50em;
  height: 18em;
}


.StatusBarElem {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.StatueBarElem {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ProgressBarWrapper {
  display: block;
  width: 60%;
};
