.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

span.correct {
  color: rgb(51, 51, 51);
}

span.correct.dark {
  color: white;
}

span.wrong {
  color: #F5F5F5 ;
  background-color: #FB9FB1;
  min-width: auto;
}

span.cursor {
  color: #F5F5F5;
  background-color: #505050;
}

span.next {
  color: #D0D0D0;
}

span.next.dark {
  color: #8d8b8b9c;;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li.word {
  float: left;
  text-align: -webkit-match-parent;
  white-space: pre-wrap;
}

body.dark {
  background-color: #282c34;
}
